.btn {
  width: 90%;
  height: 50px;
  border-radius: 10px;
  border-color: #3e3134;
  background-color: #3e3134;
  text-transform: uppercase;
  color: #f8c317;
  cursor: pointer;
  margin-bottom: 5px;
  align-items: center;
  @media (min-width: 768px) {
    width: 40%;
  }
}
