.container {
  display: flex;
  height: 80%;
  font-weight: bold;
  @media (min-width: 768px) {
    font-size: 20px;
  }
}
.wrapper {
  height: 100%;
}

.wrapper img {
  height: 100%;
  width: 100%;
  max-height: 365px;
  border-radius: 8px;
  object-fit: fill;
  @media (min-width: 768px) {
    max-height: 500px;
  }
}
.wrapper span {
  display: block;
  text-align: center;
}
.wrapper div {
  max-width: 300px;
  height: 100%;
}
