/* .bottom_bar {
  display: flex;
  width: 100%;
  background-color: #3e3134;
  justify-content: space-around;
  padding: 6px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 115px;
  align-items: center;
  @media (min-width: 768px) {
    justify-content: center;
    display: flex;
    justify-content: center;
    height: 115px;
  }
}

.bottom_bar_fixed {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  background-color: #3e3134;
  justify-content: space-around;
  padding: 6px;
  padding-bottom: 0px;
  padding-bottom: 0px;
  align-items: center;
  height: 115px;
  @media (min-width: 768px) {
    justify-content: center;
    display: flex;
    justify-content: center;
    height: 115px;
  }
} */
.bottom_bar {
  display: flex;
  width: 100%;
  background-color: #3e3134;
  justify-content: center;
  padding: 6px 0;
  margin-bottom: 0;

  align-items: center;

  @media (width < 768px) {
    justify-content: space-around;
  }
}

.bottom_bar_fixed {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  background-color: #3e3134;
  justify-content: center;
  padding: 6px 0;
  align-items: center;
  @media (width < 768px) {
    justify-content: space-around;
  }
}
