.container {
  display: flex;
  flex-direction: column;
}
.wrapper {
  width: 35%;
}

.wrapper img {
  height: 100%;
  width: 100%;
  max-height: 365px;
  border-radius: 8px;
  @media (min-width: 768px) {
    max-height: 500px;
    width: 40%;
  }
}
.wrapper span {
  display: block;
  text-align: center;
  width: 100%;
}
